.body {

    display: flex;
    flex-wrap: wrap;
   
    height: 100%;
    max-height: 100%;
    
}


footer {
   
    width:100%; 
    position: fixed;; 
    
    
    bottom:0px; 
   left:0px; 
   
 
 }
 

.menu {

    margin-left: 80%;
}



.inicio {
    display: flex;

    justify-content: center;
    align-items: center;

}

.flex {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}

form {

    margin-top: 150px;
}

.card {
    display: flex;
    flex-flow: wrap row;
    height: 500px;
    margin-top: 75px;
    align-content: center;


}

.estadisticas {
    margin-left: 40px;
}

button {
    margin-top: 50px;
    margin-left: 10px;
}

#audio3 {
    display: none
}

#audio2 {
    display: none
}

#audio1 {
    display: none
}

#audio2 {
    display: none
}

#audio3 {
    display: none
}


